/* NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
  opacity: .9;
}

/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*height: 240px;*/
  /*margin-bottom: 30px;*/
  height: 100vh;
  min-height: 100%;
  background-color: #444;
  padding-top: 120px;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  /*height: 240px;*/
  height: 60vh;
  min-height: 100%

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

  /*height: 240px;*/
}

.fa-carousel{

  font-size: 10.0em;
 
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    font-family:  'Play', cursive;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .carousel-caption h1 {
    font-family:  'Press Start 2P', cursive;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.4;
  }

}

/* PAGES
-------------------------------------------------- */

.my-skills {
  margin: 60px auto;
  padding-bottom: 120px;
}
.my-skills-item{
  padding-bottom: 120px;
}

.my-skills .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.my-skills .col-md-4 .glyphicon {
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 40px;
  color: #444;
}

.my-sikill-fa{
  font-size: 7em;
}


.about-me{

 /* margin: 60px auto;*/
  background-color: #white;
  color: black;
  background-size: cover;
  padding-bottom: 120px;
  padding-top: 60px;
  
}

.aboutme-item{
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 120px;
  color: black;

}

.aboutme-item-padding-botton{
  padding-top: 40px;
  padding-bottom: 40px;
}





.pageThree{

  margin: 60px auto;
  background-color: #444;
  background-size: cover;
  color:white;
  padding-bottom: 120px;
  padding-top: 60px;

}

.portfolio-item {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 120px;
  color: black;
}
.portifolio-item-li{
  padding-top: 10px;
}

.portifolio-fa{
  font-size: 3em;
}


.thumbnai-img{
  margin-bottom: 20px;
  padding: 6px;
  border: 2px;
  border-radius: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.pull-right{
  float: right;

}

.font-1{
  font-family: 'Press Start 2P', cursive;
}

.font-2{
  font-family: 'Play', sans-serif;
  font-size: 30px;
}

.font-3{
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

.font-4{
  font-family: 'Play', sans-serif;
  font-size: 16px;
}

.contact-me{
  padding-top: 120px;
  padding-bottom:  120px;
}


/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.footer,
footer {
  /*position: absolute;
  bottom: 0;*/
  width: 100%;
  position: relative;
  /* Set the fixed height of the footer here */
  height: 160px;
  /*background: #444;*/
  color: white;
  /*text-shadow: 1px 1px 1px black;*/
  padding-top: 40px;
}


.footer-right{

  font-family: 'Raleway', sans-serif;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 200px;
  color:black;
  border-top-style: solid;
}

.footer-left{

  font-family: 'Raleway', sans-serif;
  background-color: #444;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 200px;
  color:black;
  border-top-style: solid;
}

.faEnvelope{

  font-size: 8.0em;
  color: #444;
  padding-bottom: 40px;
}

.btn-default{
  border-color: #444 ;
  padding: 10px;

}
/* RESPONSIVE CSS
-------------------------------------------------- */
